<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&amp;display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.typekit.net/vks2ysr.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style type="text/css">
    body, td, div, p { font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
    body { background-color: #ccc;margin: 10px 0px; }
</style>
<body>
    <table border="0" width="50%" style="margin:auto;padding:30px;background-color: #F3F3F3;border:1px solid #2d2848;">
        <tr>
            <td>
                <table border="0" width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <h1><a href="https://www.edgexfoundry.org/" target="_blank"><img border="0" src="https://wiki.edgexfoundry.org/download/attachments/25297046/logo_edgex_foundry_4x.png?version=1&modificationDate=1549409434000&api=v2" width="357" height="40" alt="EdgeXFoundry Logo" /></a></h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;background-color: #fff;">
                    <tr>
                        <td style="text-align:center; background-color:#2d2848;height:70px;font-size:30px;color:#fff;"><i class="fa fa-bullhorn" style="padding-right: 10px;"></i> Congratulations</td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;">
                            {{> email_content}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" width="100%" style="border-radius: 5px;text-align: center;">
                    <tr>
                        <td>
                            <div style="margin-top: 20px;">
                                <span style="font-size:12px;">Copyright &copy; 2021 EdgeXFoundry</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>