Dear {{ author }},

We want to congratulate you on earning EdgeX’s badge of distinction for improving the platform's quality, the Bug Hunter for fixing two or more bugs from our Github repos!

We have attached the badge to this email as a .png.   a little pleading to me.  Show off your well-earned badge of success on your GitHub profile, Linked-In, Twitter, or anyplace you use to highlight your professional accomplishments.  Need some instructions on how to do this?  Follow this link to our webpage and we will show you how to display your badge on these platforms.  Follow this link to see the other badges we have created for the community and their requirements.

At EdgeX Foundry, community means everything.  We would not be where we are today if it wasn’t for our incredible community and its members like you.  Once again, thank you so much for all the hard work you have done for the Community.