<div style="width:90px; float:right"><img width="90" height="90" src="{{image_url}}" /></div>
<p style="color:#85082a">Dear {{first_name}},</p>

<p>We want to congratulate you on earning the EdgeX Foundry badge of distinction, EdgeX Contributor, for making your first contribution to our open source edge/IoT platform!</p>
<p>You will soon receive an email from <a href="https://info.credly.com/about-us" target="_blank">Credly</a> with instructions on how to claim your badge and how to use it on social media sites like <a href="https://linkedin.com" target="_blank">LinkedIn</a> and <a href="https://twitter.com" target="_blank">Twitter</a>.  We encourage you to display your well-earned badge of success on your resume, social media profile, or any place you use to highlight your professional accomplishments.  Credly will provide you some instructions on how to do this.</p>
<p>Follow this <a href="https://wiki.edgexfoundry.org/display/FA/EdgeX+Developer+Badges" target="_blank">link</a> to learn more about the EdgeX badge program and to see the other EdgeX badges you can earn and how to achieve them.</p>
<p>At EdgeX Foundry, community means everything.  We would not be where we are today if it wasn't for our incredible community of volunteers like you.  Once again, thank you so much for your first contribution.  We look forward to your future contributions and hope to see your continued active participation in our community.</p>

<div style="background-color: #f1f0f2; padding: 10px 20px;">
<p>Your contribution PRs ({{count}}):</p>
<ul class="prs" style="list-style: none; padding-left:0">
    {{#counted_prs}}
    <li style="margin: 10px 0; color:#85082a; font-size: 14px;"><img class="icon" width="16" height="16" src="https://raw.githubusercontent.com/edgexfoundry/edgex-dev-badge/templates/images/code-branch-icon.png" /> {{.}}</li>
    {{/counted_prs}}
</ul>
</div>
<p>Sincerely and on behalf of the entire EdgeX Technical Steering Committee<br /><br />EdgeX Foundry, TSC Chairman</p>